.cell {
  display: flex;
  min-width: 50px;
  margin: 10px;
  min-height: 35px;
  justify-content: center;
  align-items: center;
}
.cell-up {
  cursor: pointer;
  transition: 1s;
}
.cell-up:hover {
  opacity: 0.5;
}
